{
  "arrowParens": "avoid",
  "importOrder": ["^openai/shims/(.*)$", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSortSpecifiers": true,
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-sh", "prettier-plugin-toml"]
}
